* {
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

body {
  background-color: rgba(185, 240, 240, 0.744);
}

header {
  text-align: center;
  background-color: #047496;
  padding: 18px;
  font-size: large;
  border-radius: 20px;
  color: rgb(95, 26, 87);
  border: solid 1px rgb(73, 73, 73);
  margin-bottom: 10px;
  box-shadow: 2px 3px 5px rgba(2, 23, 255, 0.766);
}
h1 {
  background-color: #047496;
}
img {
  width: 100%;
}
article {
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: rgb(146, 250, 250);
  border: solid 1px rgb(46, 81, 76);
  border-radius: 20px;
}
p,
h2 {
  background-color: rgb(146, 250, 250);
}
